html {
    font-family: serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

body {
    font-family: serif;
    font-weight: 400;
    font-size: 12pt;
    letter-spacing: -.022em;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(80, 65, 38);
    background: rgb(243, 255, 240);
    background-size: cover;
     }


h1 { font-family: serif; 
    font-size: 2.5rem; 
    color: rgb(24, 95, 71); }
h1 span { display: inline-block;
     border-radius: 5px; 
     background: rgba(0,0,0,.2);
      padding: 7px 20px; 
      margin-top: 10px; 
      white-space: nowrap; }
a {  color:#8B7267;
 text-decoration: none;
 }
a:hover { background: #ffff; }
h2 { font-size: 14pt; 
    color:#3F3835; }


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #00cc99;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  


